.treeImage {
    margin-top: -500px
}

.padding {
    padding: 0px 0px 0px 40px
}
@media screen and (max-width: 768px) {
    .padding {
        padding: 0px 20px 0px 20px
    }
    
}
.heading {
    font-family: Roboto;
    font-size: 48px;
    font-weight: 900;
    line-height: 56px;
    color: white;
    margin: -450px 80px 32px 0px
}
@media screen and (max-width: 1340px) {
    .heading {
    
        margin: -400px 0px 32px 0px;
        /* color:#005D2D; */
    }
}
@media screen and (max-width: 1260px) {
    .heading {
      
        margin: 0px 0px 52px 40px;
     color:#005D2D;
     
    }
}
@media screen and (max-width: 768px) {
    .heading {
        font-size: 38px;
        font-weight: 700;
        line-height: 46px;
        margin: 0px 0px 32px 0px;
    }
}
.padding1 {
    padding: 0px 40px 0px px
}
@media screen and (max-width: 1400px) {
    .padding1 {
        padding: 0px 0px 0px 40px
    }   
}
@media screen and (max-width: 768px) {
    .padding1 {
        padding: 0px 20px 0px 20px
    }
}
.heading1 {
    font-family: Roboto;
    font-size: 48px;
    font-weight: 900;
    line-height: 56px;
    color: #005D2D;
    margin: 30px 0px 32px 80px
}
@media screen and (max-width: 1400px) {
    .heading1 {
      
        margin: 0px 0px 32px 40px;
    }
}

@media screen and (max-width: 768px) {
    .heading1 {
        font-size: 38px;
        font-weight: 700;
        line-height: 46px;
        margin: 0px 0px 32px
    }
    
}

.paragraph1 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    width: 568px;
    color: #005D2D;
    margin :0px 0px 40px 80px 
 
}
@media screen and (max-width: 1400px) {
    .paragraph1 {
        margin: 0px 0px 40px 40px;
    }
}
@media screen and (max-width: 1260px) {
    .paragraph1 {
        width:90%;
    }
}
@media screen and (max-width: 768px) {
    .paragraph1 {
        width:100%;
        font-size: 20px;
        font-weight: 700;
        line-height: 36px;
        margin: 0px 
    }
}
.paragraph {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    width: 568px;
    color: #FFFFDD;
    margin: 0px 80px 0px 0px
}
@media screen and (max-width: 1340px) {
    .paragraph {
        margin: 0px 0px 50px 0px;
    }
}

@media screen and (max-width: 1260px) {
    .paragraph {
        margin: 0px 40px 50px ;
        color:#005D2D;
        width:90%;
    }
}
@media screen and (max-width: 768px) {
    .paragraph {
        width:100%;
        font-size: 20px;
        font-weight: 700;
        line-height: 36px;
        margin:0px 0px 50px;
    
}
    
}

.display {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-wrap: wrap;
}