.mainContainer {
    background-color: #049A5B;
    width: 100%;
    overflow: hidden;
    height: 4570px;


}

.subDiv {
    padding: 0px 20px;
}

@media screen and (max-width: 768px) {
    .subDiv {
        padding: 0px 20px;
    }
}
.Navigation{
    margin:0px 0px 0px 70px;
}
@media screen and (max-width: 1220px) {
    .Navigation{
        margin:10px 0px 30px;
    }
}
@media screen and (max-width: 1070px) {
    .Navigation{
        margin:0px 0px 0px;
    }
}
.display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 1080px) {
    .display {
        display: block;
    }
}

.imageCenter {
    display: flex;
    justify-content: center;
}

.display1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -100px;
}

.heading {
    font-family: Roboto;
    font-size: 64px;
    font-weight: 900;
    line-height: 77px;
    text-align: left;
    color: white;
    margin: 120px 0px 0px 94px;
}

@media screen and (max-width: 1220px) {
    .heading {
        margin: 60px 0px 0px 40px;
    }

}

@media screen and (max-width: 1070px) {
    .heading {
        font-size: 48px;
        line-height: 58px;
        margin: 30px 0px 0px 0px;
    }
}
@media screen and (max-width: 768px) {
    .heading {
        font-size: 32px;
        line-height: 40px;
        margin: 30px 0px 0px 0px;
    }
}

.heading1 {
    font-family: Roboto;
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-align: left;
    width: 568px;
    color: white;
    margin: 74px 0px 0px 94px;

}

@media screen and (max-width: 1220px) {
    .heading1 {
        margin: 60px 0px 0px 40px;
    }

}

@media screen and (max-width: 1070px) {
    .heading1 {
        font-size: 32px;
        line-height: 40px;
        width: 80%;
        margin: 60px 0px 0px 0px;
    }
}
@media screen and (max-width: 768px) {
    .heading1 {
        font-size: 24px;
        line-height: 32px;
        width: 100%;
        margin: 30px 0px 0px 0px;
    }
}

.paragraph {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    width: 515px;
    color: white;
    margin: 32px 0px 0px 94px;

}

@media screen and (max-width: 1220px) {
    .paragraph {
        margin: 60px 0px 0px 40px;
    }
}

@media screen and (max-width:1070px) {
    .paragraph {
        width: 80%;
        margin: 60px 0px 0px 0px;

    }
}
@media screen and (max-width: 768px) {
    .paragraph {
        font-size: 16px;
        line-height: 24px;
        width: 100%;
        margin: 30px 0px 0px 0px;
    }
}

.imageMargin {
    margin: 132px 80px 0px 0px;
}

@media screen and (max-width: 1220px) {
    .imageMargin {
        margin: 100px 0px 0px 0px;
    }
}

.tree {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 690px;
    right: 20px;
}

@media screen and (max-width: 1400px) {
    .tree {
        display: none
    }
}

.display2 {
    display: flex;
    justify-content: start;
}

@media screen and (max-width: 1400px) {
    .display2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
}

.image {
    background-image: url("../public/image2.png");
    background-repeat: no-repeat;
    width: 680px;
    height: 553px;
    margin: 162px 0px 0px 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;

}

@media screen and (max-width: 1400px) {
    .image {
        background-image: none;
        background-color: #32FCA7;
        width: 500px;
        height: 500px;
        margin: 50px 0px 50px 0px;
    }
}

@media screen and (max-width: 550px) {
    .image {

        background-color: #32FCA7;
        width: 300px;
        height: 300px;
        margin: 50px 0px 50px 0px;
    }
}

.image1 {
    background-image: url("../public/image3.png");
    background-repeat: no-repeat;
    width: 600px;
    height: 568px;
    margin: 91px 0px 0px 88px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

@media screen and (max-width: 1400px) {
    .image1 {
        background-image: none;
        background-color: #32FCA7;
        width: 500px;
        height: 500px;
        margin: 0px 0px 50px 0px;

    }
}

@media screen and (max-width: 550px) {
    .image1 {

        background-color: #32FCA7;
        width: 300px;
        height: 300px;
        margin: 0px 0px 50px 0px;
    }
}

@media screen and (max-width: 1400px) {
    .bgCenter {
        display: flex;
        justify-content: center;
    }
}

.image2 {
    background-image: url("../public/image4.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 580px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -140px;
    margin-left: 370px;
    position: relative;
    z-index: 1;
}

@media screen and (max-width: 1400px) {
    .image2 {
        background-image: none;
        background-color: #32FCA7;
        width: 500px;
        height: 500px;
        margin: 0px 0px 50px 0px;
    }
}

@media screen and (max-width: 550px) {
    .image2 {

        background-color: #32FCA7;
        width: 300px;
        height: 300px;
        margin: 0px;
    }
}

.leafHeading {
    font-family: Roboto;
    font-size: 32px;
    font-weight: 900;
    line-height: 38px;
    width: 340;
    color: white;
    margin: 30px 0px 0px 0px;
}

@media screen and (max-width: 550px) {
    .leafHeading {
        font-size: 24px;
        line-height: 30px;
        width: 100%;
        margin: 30px 0px 0px 0px;
        text-align: center;
    }
}

.leafParagraph {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: white;
    width: 340px;
    height: auto;
    text-align: center;
}

@media screen and (max-width: 550px) {
    .leafParagraph {
        font-size: 16px;
        line-height: 24px;
        width: 100%;
        margin: 0px 0px 0px 0px;
    }
}

.mapDisplay {
    display: flex;
    justify-content: space-between;

}

@media screen and (max-width: 1160px) {
    .mapDisplay {
        flex-wrap: wrap;
        justify-content: space-around;
    }

}

.heading2 {
    font-family: Roboto;
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    margin: 120px 0px 32px 0px
}