.bgImage {
    background-image: url("../public/bgImage.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1800px;
}

.subDiv {
  
    padding: 0px 40px;
}
@media screen and (max-width: 768px) {
    .subDiv {
        padding: 0px 20px;
    }
}
.display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
    

.heading {
    font-family: Roboto;
    font-size: 64px;
    font-weight: 900;
    line-height: 77px;
    letter-spacing: 0em;
    text-align: left;
    width: 528px;
    color: white;
    margin: 136px 0px 0px 
}
@media screen and (max-width: 550px) {
    .heading {
        font-size: 48px;
        line-height: 60px;
        width: 100%;
        margin: 80px 0px 0px 0px;
    }
}
@media screen and (max-width: 370px) {
    .heading {
        font-size: 30px;
        line-height: 40px;
        width: 100%;
        margin: 40px 0px 0px 0px;
    }
}

.paragraph {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    width: 450px;
    margin: 16px 0px 32px 0px;
}
@media screen and (max-width: 550px) {
    .paragraph {
        font-size: 18px;
        line-height: 28px;
        width: 100%;
        margin: 16px 0px 32px 0px;
    }
}

.item {
    margin: 0px 0px 0px 80px
}
@media screen and (max-width: 768px) {
    .item {
        margin: 0px 0px 0px 0px
    }
}
    

/* .image {
    margin-bottom: 1200px;
} */

.paragraph3 {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    /* text-align: left; */
    color: white;
    /* margin:72px 0px 1300px; */
}