
.display{
display: flex;
justify-content: space-between;
align-items: center;
margin: 16px 80px 0px 80px;
}
@media screen and (max-width: 1330px) {
    .display{
        margin: 16px 0px 0px 80px;
    }

        
}
@media screen and (max-width: 768px) {
    .display{
        margin: 16px 0px 0px 0px;
    }
        
}

.list{
list-style: none;
color:white;
width:38%;
display:flex;
justify-content: space-around;
align-items: center;

}
.li{
        font-family: Roboto;
font-size: 14px;
font-weight: 600;
line-height: 16px;

}
.button{
       background-color: #08D57F;
       width:111px;
       height:50px;
       display:flex;
       justify-content: center;
       align-items: center;
        border-radius: 10px;
       cursor:pointer ;
       font-family: Roboto;
       font-size: 14px;
       font-weight: 600;
       line-height: 16px;
       
}