.mainContainer {
    background-color: #049A5B;
    width: 100vw;
    overflow: hidden;
    height: auto;
  

}
.subDiv{
    padding:0px 40px;
}

.display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.heading {
    font-family: Roboto;
    font-size: 64px;
    font-weight: 900;
    line-height: 77px;
    text-align: left;
    color: white;
    margin:120px 0px 0px 94px;
}

.heading1 {
    font-family: Roboto;
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-align: left;
    width: 568px;
    color: white;
    margin: 74px 0px 0px 94px;

}

.paragraph {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    width: 515px;
    color: white;
    margin: 32px 0px 0px 94px;

}
.margin{
    margin:132px 80px 0px 0px;
}

.tree{
    width:279px;
    height:279px;
    position: absolute;
    margin-top:300px;
    left: 535px;
}

/* @media screen and (max-width: 1550px) {
   
    .tree{
        width:279px;
        height:279px;
        position: absolute;
        bottom:  40%;
        left:34%;
    z-index: 1;
    }
} */

.image {
    background-image: url("../public/image2.png");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 642px;
    height: 553px;
    margin:162px 0px 0px 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;

}

.image1 {
    background-image: url("../public/image3.png");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 578px;
    height: 568px;
    margin:91px 24px 0px 88px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
   
}

.image2 {
    background-image: url("../public/image4.png");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 560px;
    height: 580px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:-140px;
    margin-left: -100px;
    z-index: 1;
}
/* @media screen and (max-width:1550px) {
    .image2 {
       
        margin-top:-10%;
        margin-right: 3%;
        z-index: 1;
    }
} */
.leafHeading{
    font-family: Roboto;
    font-size: 32px;
    font-weight: 900;
    line-height: 38px;
    width:340;
    color:white;
    margin:30px 0px 0px 0px;
    
}
.leafParagraph{
    font-family: Roboto;
font-size: 20px;
font-weight: 500;
line-height: 30px;
color:white;
width:340px;
height:auto;
text-align: center;

}
